beautifulsoup4==4.6.0
Cython==0.25.2
h5py==2.7.0
Keras==2.0.4
nltk==3.2.4
numpy==1.13.0
pandas==0.20.2
pbr==3.1.1
Pillow==4.1.1
protobuf==3.3.0
pyglet==1.2.4
pygpu==0.6.5
pyparsing==2.2.0
python-dateutil==2.6.0
requests==2.18.1
scikit-learn==0.18.1
scipy==0.19.0
six==1.10.0
tensorflow-gpu==2.3.1
Theano==0.10.0.dev1
urllib3==1.21.1
Werkzeug==0.12.2
